
<!--Administrative metadata -->
<fieldset class="row" id="administrative">
  <legend class="col-sm-12">
    Administrative metadata
  </legend>
  <div class="col-sm-12">
    <%#
        We render this as a partial to enable different views that include this form to define it differently
        e.g. as a dropdown or a text input.
    %>
    <%= render partial: 'activity_input', locals: { builder: builder } %>
    <hr>
  </div>
  <div class="col-sm-12">
      <%= builder.input :collection, collection: get_translated_list('Collections'), prompt: 'Samling' %>
    <hr>
  </div>

  <fieldset class="row">
    <legend class="col-sm-12">
      <h4>Tilgængelighed</h4>
    </legend>


      <div class="col-sm-3">
        <%= builder.input :embargo, as: :boolean, boolean_style: :inline,
                      label_html: { class: 'checkbox-inline' }, wrapper_html: { class: ''  },
                      input_html: { class: '', data: { toggle: 'embargo_detailed' } } %>

        </div>
      <div class="col-sm-3">
        <%= builder.input :embargo_date, input_html: { data: { hook: 'embargo_detailed' }} %>
      </div>
      <div class="col-sm-5">
        <%= builder.input :embargo_condition, input_html: { data: { hook: 'embargo_detailed' }} %>
      </div>



    <div class="col-sm-3">
      <%= builder.input :access_condition, collection: get_controlled_vocab('Access types'),  prompt: 'Klausuleringstype' %>
    </div>

      <div class="col-sm-3">
        <%= builder.input :copyright, collection: get_controlled_vocab('Copyright Licenses'),  prompt: 'Vælg licens' %>
      </div>
    </fieldset>

  <fieldset class="row">
  <legend class="col-sm-12">
    <h4>Bevaring</h4>
  </legend>


    <div class="col-sm-4">
      <%= builder.label :preservation_profile, 'Preservation profile' %>
      <%= builder.select :preservation_profile, options_for_select(get_preservation_profiles_for_select)%>
    </div>
  </fieldset>


</fieldset>