<%= simple_form_for(@instance, html: { class: 'form-horizontal' }, defaults: {
        wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="instans editMode">
    <div class="page-header">
      <div class="container">
        <h1>Instans <small>Ukendt</small></h1>
      </div>
    </div>

    <div class="container">
    <div class="row">

    <div class="col-sm-3">
        <%= render partial: 'sidebar' %>
    </div>
    <div class="col-sm-9">

      <%= render partial: 'bibliographic', locals: { builder: f } %>
      <%= render partial: 'administrative' %>
      <%= render partial: 'upload' %>

    </div>

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-save"></span>
        Gem
      </button>
    </div>
      <%= f.submit 'Gem' %>
    </div>
    </div>
</div>

<% end %>
