<a id="upload"></a><h4>Files</h4>
<% @instance.content_files.each do |f| %>
    <strong><%= f.original_filename %></strong>
    <table class="table table-striped"><tbody>
    <tr>
      <td> <strong>Filnavn</strong></td>
      <td>
        <%= f.original_filename %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Bevarings profil</strong>
      </td>
      <td>
        <span><%= @instance.preservation_profile %></span>
      </td>
    </tr>
    <tr>
      <td><strong>Bevarings Status</strong></td>
      <td><%= f.preservation_state %></td>
    </tr>
    <tr>
      <td><strong>Bevarings Detaljer</strong></td>
      <td><%= f.preservation_details %></td>
    </tr>
    <tr>
      <td><strong>Download link</strong></td>
      <td>
        <%if can?(:download,@instance.content_files.first) %>
            <%= link_to "Download", download_content_file_path(f)%>
        <% end %>
      </td>
    </tr>
</tbody></table>
<% end %>