<h4>Bibliografisk data</h4>
<table class="table table-striped"><tbody>
<tr>
  <td>
    <strong>ISBN</strong>
  </td>
  <td>
    <span><%= @instance.isbn13 %></span>
  </td>
</tr>
<tr>
<tr>
  <td>
    <strong><%=  t('.copyright_date') %></strong>
  </td>
  <td>
    <span><%= @instance.copyright_date %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.published_date') %></strong>
  </td>
  <td>
    <span><%= @instance.published_date %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.mode_of_issuance') %></strong>
  </td>
  <td>
    <span><%= @instance.mode_of_issuance %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.extent') %></strong>
  </td>
  <td>
    <span><%= @instance.extent %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.language') %></strong>
  </td>
  <td>
    <span><%= @instance.language_values %></span>
  </td>
</tr>
<tr>
  <td>
    <strong>Note </strong>
  </td>
  <td>
    <span><%= @instance.contents_note %></span>
  </td>
</tr>

</tbody></table>