<a id="administrative"></a><h4>Administrative Data</h4>
<table class="table table-striped"><tbody>
<tr>
<td>
  <strong><%= t('.activity') %></strong>
</td>
<td>
  <span><%= Administration::Activity.find(@instance.activity).activity %></span>
</td>
</tr>
<tr>
  <td>
    <strong><%= t('.collection') %></strong>
  </td>
  <td>
    <span><%= t("Collections.#{@instance.collection}") if @instance.collection.present? %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.copyright') %></strong>
  </td>
  <td>
    <span><%= @instance.copyright %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('embargo_date') %></strong>
  </td>
  <td>
    <span><%= @instance.embargo_date %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.embargo_condition') %></strong>
  </td>
  <td>
    <span><%= @instance.embargo_condition %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservation_profile') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_profile %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservation_state') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_state %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservaton_details') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_details %></span>
  </td>
</tr>

</tbody></table>