<a id="upload"></a><h4>Files</h4>
<% @instance.content_files.each do |f| %>
    <%# Note we need to get rid of colons in the ids here to prevent errors with the js collapse
     (colons cause problems with CSS selectors)  %>
    <a data-toggle="collapse" href="#<%= f.id.gsub(':','_') %>"><%= f.file_label %></a>
    <table class="table table-striped collapse" id="<%= f.id.gsub(':','_') %>"><tbody>
    <tr>
      <td> <strong>Filnavn</strong></td>
      <td>
        <%= f.original_filename %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Bevarings profil</strong>
      </td>
      <td>
        <span><%= @instance.preservation_profile %></span>
      </td>
    </tr>
    <tr>
      <td><strong>Bevarings Status</strong></td>
      <td><%= f.preservation_state %></td>
    </tr>
    <tr>
      <td><strong>Bevarings Detaljer</strong></td>
      <td><%= f.preservation_details %></td>
    </tr>
    <tr>
      <td><strong>Download link</strong></td>
      <td>
        <%if can?(:download,@instance.content_files.first) %>
            <%= link_to "Download", download_content_file_path(f)%>
        <% end %>
      </td>
    </tr>
</tbody></table>
<% end %>