<div class="instans editMode">
  <div class="page-header">
    <div class="container">
      <div class="btn-group pull-right">
        <%= link_to 'Send til Bevaring', send_to_preservation_work_instance_url(@work,@instance), class: 'btn btn-primary' %>
        <%= link_to 'Rediger', edit_work_trykforlaeg_url(@work,@instance), class: 'btn btn-primary' %>
      </div>
      <h1>Instans<small><%= @klazz %></small></h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <%= render partial: 'sidebar' %>
      </div>
      <div class="col-sm-9">
        <%= render partial:  'instances/show_bibliograph' %>
        <%= render partial:  'instances/show_administrative' %>
        <%= render partial:  'instances/show_files' %>

      </div>


    </div>
  </div>
</div>