<h2><%= "#{@instance.class.to_s}: #{@instance.title_statement}" %> </h2>

<p>Copyright Date <%= @instance.copyright_date %></p>
<p>Provider Date <%= @instance.provider_date %></p>
<p>Note <%= @instance.note %></p>
<h4>Languages</h4>
<% @instance.languages.each do |lang| %>
    <p><%= lang.value %></p>
    <p><%= lang.part %></p>

<% end %>

<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Administration', administration_instance_path(@instance) %> |
<%= link_to 'Preservation', preservation_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
