<h1><%= t '.header' %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t '.name' %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.activity, activity %></td>
        <td><%= link_to t('.edit'), edit_administration_activity_path(activity) %></td>
        <td><%= link_to t('.destroy'), activity, method: :delete, data: { confirm: t('.confirm_delete')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to t('.create'), new_administration_activity_path %>

