<h1>Listing activities</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity %></td>
        <td><%= link_to 'Show', administration_activity_path(activity) %></td>
        <td><%= link_to 'Edit', edit_administration_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Activity', new_administration_activity_path %>

