

<h1>Activity: <%= @activity.activity%></h1>

<table class="table">
  <tr>
    <td>access condition</td>
    <td><%= @activity.access_condition %></td>
  </tr>
   <tr>
    <td>availability</td>
    <td><%= @activity.availability %></td>
  </tr>
  <tr>
    <td>collection</td>
    <td><%= @activity.collection %></td>
  </tr>
  <tr>
    <td>embargo</td>
    <td><%= @activity.embargo %></td>
  </tr>
  <tr>
    <td>embargo condition</td>
    <td><%= @activity.embargo_condition %></td>
  </tr>
  <tr>
    <td>preservation profile</td>
    <td><%= @activity.preservation_profile %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_administration_activity_path(@activity) %> |
<%= link_to 'Back', administration_activities_path %>
