<% remote ||= false %>
<% @authority_object ||= Authority::Person.new %>
<%= form_for(@authority_object, remote: remote, html: { class: 'form-horizontal' }) do |f| %>
  <% if @authority_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authority_object.errors.count, "error") %> prohibited this authority_basis from being saved:</h2>

      <ul>
      <% @authority_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h2>Person</h2>
    <% if @authority_object.new? %>
        <%= render partial: 'authority/people/name',  locals: { scheme: '', name: { given: '', family: '', date: '' }} %>
    <% else %>
        <% @authority_object.authorized_personal_names.each do |scheme, name| %>
            <%= render partial: 'authority/people/name', locals: { scheme: scheme, name: name } %>
            <br/>
        <% end %>
    <% end %>

  <div class="actions">
    <%= f.submit 'Gem Person', class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
