<!-- Work -->
<%# We render this page as a partial to enable us to include it in the Instance show view %>
<div class="work previewMode">
  <div class="container">

    <div class="page-header">
      <div class="btn-group pull-right">

        <%= link_to 'Edit', edit_work_path(@work), class: 'btn btn-primary' %>
      </div>
      <% if @work.titles.size > 0 %>
      <h1>
        <%= @work.titles.first.value %><br>
        <small><%= @work.titles.first.subtitle %></small>
      </h1>
      <% end %>
    </div>


    <h4>Titler</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Undertitel</th>
          <th>Sprog</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
      <% @work.titles.each do |title| %>
      <tr>
        <td>
          <strong><%= title.value%></strong>
        </td>
        <td>
          <span><%= title.subtitle%></span>
        </td>
          <td>
            <span><%= title.lang %></span>
          </td>
          <td>
            <span><%= title.type%></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h4>Ophav</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Navn</th>
          <th>Rolle</th>
        </tr>
      </thead>
      <tbody>
    <% @work.creators.each do |creator| %>
      <tr>
        <td>
          <strong><span><%= creator['display_value'] %></span></strong>
        </td>
        <td>
          <span><%= creator['type'] %></span>
        </td>
      </tr>
    <% end %>
    </tbody></table>
    <div class="row">

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%= "#{@work.instances.size} instanser" %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @work.instances.each do |instance| %>
                    <li><a href="<%= url_for([@work, instance]) %>">
                      <%= instance.class %>
                    </a></li>
            <% end %>

          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%= "Opret Instans" %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if can?(:create, Trykforlaeg) %>
                <li>
                  <a href="<%= new_work_trykforlaeg_path(@work) %>">
                    Nyt Trykforlæg
                  </a>
                </li>
            <% end %>
          </ul>
        </div>
      </div>

  </div>

</div>
<!-- Work end -->


