<%= fields_for 'work[titles][]', title, index: nil do |title_fields| %>
    <div class="<%= 'new-title' unless !title.blank? %>">
        <a class="btn btn-sm btn-error col-sm-offset-11" href="#" data-function="delete-title">
            <span class="glyphicon glyphicon-minus"></span>
            Slet
        </a>
        <div class='col-sm-8'>
          <div class='form-group'>
            <%= title_fields.label :value, 'Titel' %>
            <%= title_fields.text_field :value, :placeholder => 'Titel', :class=>'form-control' %>
          </div>
        </div>
      <div class='col-sm-2'>
        <div class="form-group">
          <%= title_fields.label :lang, 'Sprog' %>
          <%= title_fields.select :lang, get_controlled_vocab('Language'), {} , {:class=>'combobox'} %>
        </div>
      </div>
      <div class='col-sm-2'>
        <div class="form-group">
          <%= title_fields.label :type, 'Type' %>
          <%= title_fields.select :type, get_controlled_vocab('Title types'), {} , {:class=>'combobox'} %>
        </div>
      </div>
        <div class='col-sm-12'>
          <div class="form-group">
            <%= title_fields.label :subtitle, 'Undertitel' %>
            <%= title_fields.text_field :subtitle, :placeholder => 'Undertitel', :class=>'form-control' %>
          </div>
        </div>
    </div>
<% end %>