<div class="work editMode" data-hook="work-form">

  <div class="page-header">
    <div class="container">
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-import"></span>
        Importer fra Aleph
      </button>
      <h1>Værk <small id="headerTitle"><%= @work.title_values.first%></small></h1>

    </div>
  </div>

  <div class="container">
    <%= form_for(@work) do |f| %>
        <% if @work.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@work.errors.count, "error") %> prohibited this instance from being saved:</h2>

              <ul>
                <% @work.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <fieldset class="row">
            <legend class="col-sm-12">Titler</legend>
            <% if @work.titles.length > 0  %>
                <% @work.titles.each_with_index do |title,index| %>
                    <%= render  partial: 'works/title',  locals: {title: title , index: index, hidden:false} %>
                <% end%>
            <% end %>

          <%= render partial: 'works/title', locals: {title: Datastreams::Bibframe::Title.new, index: @work.titles.length, hidden:false} %>
          <%= render partial: 'works/title', locals: {title: Datastreams::Bibframe::Title.new, index: @work.titles.length+1, hidden:true} %>

            <div class='col-sm-12'>
                <a class="btn btn-sm btn-success" href="#" data-function="new-title">
                  <span class="glyphicon glyphicon-plus"></span>
                  Tilføj Titel
                </a>
            </div>
        </fieldset>
        <fieldset class="row">
          <legend class="col-sm-11">
            Ophav
            <a class="btn btn-sm btn-primary pull-right" data-toggle="modal" href="#new_agent_modal">
              <span class="glyphicon glyphicon-plus"></span>
            Opret ny person
            </a>
          </legend>
          <% if @work.creators.length >0 %>
              <% @work.creators.each_with_index do |creator,index| %>
                <%= render partial: 'works/creator', locals: {creator: creator, index: index, hidden:false} %>
              <% end %>
          <% end %>
          <%= render partial: 'works/creator', locals: {creator: {},index: @work.creators.length, hidden: false}%>
          <%= render partial: 'works/creator', locals: {creator: {},index: @work.creators.length+1, hidden: true}%>

          <div class='col-sm-12'>
            <a class="btn btn-sm btn-success" href="#" data-function="new-creator">
              <span class="glyphicon glyphicon-plus"></span>
              Tilføj Ophav
            </a>
          </div>
        </fieldset>
        <div class='col-sm-12'>
        </div>

        <div class="actions col-sm-offset-9">
          <%= link_to t('.cancel'), :back, class: 'btn btn-lg btn-warning'%>
          <%= f.submit 'Gem værk',  class: 'btn btn-lg btn-success'%>
        </div>
    <% end %>
  </div>
</div>

<%= render partial: 'works/new_agent_modal' %>
<%= render partial: 'works/aleph_import' %>

