<div class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%=root_path%>">
        <%= image_tag 'logo.png' %>
        <span>Valhal</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
    <%= render partial: '/shared/create_dropdown' %>
    <%= render partial: '/shared/administration_dropdown' if current_user && current_user.admin? %>
    <%= render partial: '/shared/user_dropdown' %>
    </div>
  </div>
</div>