<%= fields_for 'controlled_list[elements][]', element, index: nil do |fields| %>
    <div class="<%= "empty-entry" unless element.persisted? %>">
      <%= fields.hidden_field :id %>
      <div class="control-group">
        <label class="control-label"><%= t '.entry_name' %></label>
        <div class="controls">
          <%= fields.text_field :name %>
        </div>
      </div>
    </div>
<% end %>