<%= fields_for 'administration_controlled_list[elements][]', element, index: nil do |fields| %>
    <div class="form-group">
    <div class="col-sm-8 ">
    <div class="form-inline <%= "empty-entry" unless element.persisted? %>">
      <%= fields.hidden_field :id %>
      <div class="form-group">
        <div class="col-sm-4">
          <%= fields.text_field :name, class: 'form-control', placeholder: t('.entry') %>
      </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4">
          <%= fields.text_field :label, class: 'form-control', placeholder: t('.label') %>
        </div>
      </div>
      </div>
      </div>
      </div>
<% end %>