
<h1><%= t('.header') %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Name </th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @controlled_lists.each do |controlled_list| %>
      <tr>
        <td><%= link_to controlled_list.name, controlled_list %></td>
        <td><%= link_to t('.edit'), edit_administration_controlled_list_path(controlled_list.id) %></td>
        <td><%= link_to t('.delete'), controlled_list, method: :delete, data: { confirm: t('.confirm_delete') } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.create'), new_administration_controlled_list_path %>
